<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">



    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <title>HTB</title>
</head>

<body>
    <b class="screen-overlay"></b>



    <div class="container mb-5">
        <div class="container  text-center mt-5">
            <div class="row mt-5 mb-5">

                <div class="col-md-6 offset-md-3 mb-5 funnelque">
                    <br>
                    <br>
                    <p>
                        Simple charging station management system
                    </p>
                    <br>
                    <div>
                        <p>Charging Process Input data</p>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Meter Start</lable>
                                <input name="meterStart" class="form-control " type="number" pattern="[0-9]" required
                                    id="meterStart" style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="meterStart">
                            </div>
                        </div>

                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">timestampStart</lable>
                                <input name="timestampStart" class="form-control " type="text" id="timestampStart"
                                    required style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="timestampStart">
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Meter Stop</lable>
                                <input name="meterStop" class="form-control " type="number" pattern="[0-9]" required
                                    id="meterStop" style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="meterStop">
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">timestampStop</lable>
                                <input name="timestampStop" class="form-control " type="text" pattern="[0-9]"
                                    id="timestampStop" required style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="timestampStop">
                            </div>
                        </div>
                        <p>Charging Process Rating Fee</p>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Energy</lable>
                                <input name="energy" class="form-control " type="number" pattern="[0-9.]" id="energy"
                                    required style="border-radius: 3px;font-size:15px;height:40px" placeholder="Energy">
                            </div>
                        </div>

                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Time</lable>
                                <input name="time" class="form-control " type="number" pattern="[0-9.]" id="time"
                                    required style="border-radius: 3px;font-size:15px;height:40px" placeholder="Time">
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Transaction</lable>
                                <input name="transaction" class="form-control " type="number" pattern="[0-9.]" required
                                    id="transaction" style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="Transaction">
                            </div>
                        </div>
                        <button class="quebtn mx-auto" id="btn" type="submit" onclick="checkSubmitStatus()"
                            style="width: 200px;border-radius:8px;background:#9c1d5e;">Apply</button><br>

                    </div>
                    <div id="result">
                        <p id="overall"></p>
                        <p id="energyFee"></p>
                        <p id="timeFee"></p>
                        <p id="transactionFee"></p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <script>
        function checkSubmitStatus() {
            var data = {
                "rate": {
                    "energy": document.getElementById("energy").value,
                    "time": document.getElementById("time").value,
                    "transaction": document.getElementById("transaction").value
                },
                "cdr": {
                    "meterStart": document.getElementById("meterStart").value,
                    "timestampStart": document.getElementById("timestampStart").value,
                    "meterStop": document.getElementById("meterStop").value,
                    "timestampStop": document.getElementById("timestampStop").value
                }
            }
            console.log(data)
            fetch('/rate', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'cache-control': "no-cache",
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('energy').value = '';
                    document.getElementById("time").value = '';
                    document.getElementById("transaction").value = '';
                    document.getElementById("meterStart").value = '';
                    document.getElementById("timestampStart").value = '';
                    document.getElementById("meterStop").value = '';
                    document.getElementById("timestampStop").value = '';
                    document.getElementById("overall").innerHTML = "Overall: " + data['overall'];
                    document.getElementById("energyFee").innerHTML = "energy: " + data['components']['energy'];
                    document.getElementById("timeFee").innerHTML = "time: " + data['components']['time'];
                    document.getElementById("transactionFee").innerHTML = "transaction: " + data['components']['transaction'];
                    console.log('Success:', data);

                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>




</body>

</html>