<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V7T5W126KS"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-V7T5W126KS');
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <title>HTB</title>
</head>

<body>
    <b class="screen-overlay"></b>



    <div class="container mb-5">
        <div class="container  text-center mt-5">
            <div class="row mt-5 mb-5">

                <div class="col-md-6 offset-md-3 mb-5 funnelque">
                    <br>
                    <br>
                    <p>
                        Simple charging station management system
                    </p>
                    <br>
                    <form novalidate id="myForm">
                        <p>Charging Process Input data</p>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Meter Start</lable>
                                <input name="meterStart" class="form-control " type="number" pattern="[0-9]" required
                                    id="meterStart" style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="meterStart">
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Meter Stop</lable>
                                <input name="meterStop" class="form-control " type="number" pattern="[0-9]" required
                                    id="meterStop" style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="meterStop">
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Meter Start</lable>
                                <input name="name" class="form-control " type="number" pattern="[0-9]" required
                                    id="meterStart" style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="meterStart">
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Meter Start</lable>
                                <input name="name" class="form-control " type="number" pattern="[0-9]" required
                                    id="meterStart" style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="meterStart">
                            </div>
                        </div>
                        <p>Charging Process Rating Fee</p>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Energy</lable>
                                <input name="Energy" class="form-control " type="number" pattern="[0-9]" required
                                    id="Energy" style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="Energy">
                            </div>
                        </div>

                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">Time</lable>
                                <input name="Time" class="form-control " type="number" pattern="[0-9]" required
                                    id="Time" style="border-radius: 3px;font-size:15px;height:40px" placeholder="Time">
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group mx-auto col-9 ">
                                <lable for="validationCustom" class="sr-only">transaction</lable>
                                <input name="transaction" class="form-control " type="number" pattern="[0-9]" required
                                    id="transaction" style="border-radius: 3px;font-size:15px;height:40px"
                                    placeholder="transaction">
                            </div>
                        </div>
                        <button class="quebtn mx-auto" id="btn" type="submit" onclick="checkSubmitStatus()"
                            style="width: 200px;border-radius:8px;background:#9c1d5e;">Apply</button><br>

                </div>
                </form>
                <br>
            </div>
        </div>
    </div>

    <script>
        function checkSubmitStatus() {
            var data = JSON.stringify({
                "rate": {
                    "energy": 0.3,
                    "time": 2,
                    "transaction": 1
                },
                "cdr": {
                    "meterStart": 1204307,
                    "timestampStart": "2021-04-05T10:04:00Z",
                    "meterStop": 1215230,
                    "timestampStop": "2021-04-05T11:27:00Z"
                }
            });

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === 4) {
                    console.log(this.responseText);
                }
            });

            xhr.open("POST", "http://127.0.0.1:5000/rate");
            xhr.setRequestHeader("content-type", "application/json");
            xhr.setRequestHeader("cache-control", "no-cache");

            xhr.send(data);
            console.log(xhr.responseText)
        }
    </script>



</body>

</html>